/*************************************
  * Filename: style.less
  * Website: http://papelycarton.com
  * Author: Sokvist
  * Author URI: http://sokvist.com
  * Date: 22/06/2020
  * Version: 1.0
**************************************/

@import "reset.less";
@import "framework.less";
@import "mixins.less";

/*
	*****************************************
	
    - General CSS
    - Custom
	- Header
    - Sections

*/


/*  General CSS*/
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', sans-serif;
    color: var(--font-color);
    background-color: var(--bg-color);
    font-size: 100%;
}

body {
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.7;
}

a {
    text-decoration: none;
}

a:focus {
    outline: 0;
}

a:hover,
a:focus {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

em {
    font-style: italic;
}

small {
    font-size: 0.7em;
}

address {
    font-style: normal;
}


/* Custom *******/
header ul,
header ul li {
    margin: 0;
}

/* Top bar */
.top-bar {
    display: flex;
    flex-direction: row;
}

.top-bar {
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.top-bar .features ul,
.top-bar .shop,
.top-bar .shop .shop-menu,
.top-bar .shop .shop-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: 14px;
}
    
@media screen and (max-width: 1280px) {
    .top-bar .features ul {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .top-bar .shop .shop-menu {
        display: none;
    }
}

.top-bar .icon {
    fill: var(--shop-color);
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: auto 3px;
}

.features li {
    display: inline-block;
    margin: auto 12px;
    font-weight: 500;
}

.features li:nth-child(2) .icon {
    transform: scaleX(-1);
}

/* Shop menu */
.shop-menu li {
    display: inherit;
    margin: auto 10px;
    font-weight: 400;
}

.shop-menu li a {
    color: var(--bg-color);
}

.shop-menu li .icon {
    width: 26px;
    height: 26px;
    margin: auto 2px;
}

.shop-menu li .icon.comment {
    width: 20px;
    height: 20px;
}

.shop-menu li::after {
    content: '';
    position: relative;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    display: block;
    width: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='2048' height='2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='402' width='582' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath fill='%2350E3C2' id='svg_1' d='m1799,349l242,241l-1017,1017l-1017,-1017l242,-241l775,775l775,-775z'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
}

/* Currency Switcher */
.currency {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 50px;
    background-color: var(--shop-color);
}

.currency ul {
    width: 89px;
    height: 50px;
    position: relative;
}

.currency ul::after {
    position: absolute;
    content: "";
    width: 20px;
    right: 10px;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    background-image: url("data:image/svg+xml,%3Csvg width='2048' height='2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='402' width='582' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath fill='%23322041' id='svg_1' d='m1799,349l242,241l-1017,1017l-1017,-1017l242,-241l775,775l775,-775z'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
}

.currency li {
    line-height: 50px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    opacity: 0;
    display: none;
}

.currency li.active,
.currency.show li {
    opacity: 1;
    display: block;
}

.currency a {
    color: #322041;
    text-decoration: none;
    margin-right: 12px;
}

.currency a span {
    font-weight: 700;
}

.currency li:hover a,
.currency li:focus a {
    color: #322041;
}

.currency li.active:hover a,
.currency li.active:focus a {
    color: #322041;
}

/* Cart box */
.cart-box {
    background-color: var(--secondary-color);
}

.cart-box a.cart {
    display: flex;
    justify-content: center;
    width: 58px;
    height: 50px;
    line-height: 50px;
    margin: 0;
    border-radius: 0;
    color: var(--primary-color);
    background-color: transparent;
    .transition04;
}

.cart-box a.cart .icon {
    fill: var(--bg-color);
    width: 30px;
    height: 30px;
}

.cart-box a.cart:hover,
.cart-box a.cart:focus {
    background-color: var(--primary-color);
}

.cart-box a.cart:hover .icon,
.cart-box a.cart:focus .icon {
    fill: var(--font-color);
}

.cart-box a.cart .label,
.cart-box span .label {
    display: none;
}

.woo-items-count a span {
    position: absolute;
    top: 7px;
    right: 7px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
    background-color: var(--shop-color);
    text-align: center;
    display: block;
    padding: 0;
    color: var(--font-color);
    z-index: 11;
}

/* Header wrapper */
.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

.logo {
    display: block;
    width: 30%;
}

.logo img {
    margin: 10px 0 0 10px;
}

/* Main menu */
.underline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
    width: 70%;
    position: relative;
}

.underline::after {
    position: absolute;
    content: "";
    bottom: 2px;
    top: auto;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #DBD8DD;
    z-index: -1;
}

.main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-size: 16px;
}

.main-menu li {
    display: inherit;
    margin: auto 18px;
    font-weight: 500;
}

.main-menu li:first-child {
    margin-left: 0;
}

.main-menu li a {
    color: var(--font-color);
    padding: 0 30px 20px 0;
    border-bottom: 5px solid transparent;
}

.main-menu li.active a {
    border-color: #158AA6;
}

.main-menu li::after {
    content: '';
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    margin-left: -20px;
    background-color: transparent;
    cursor: pointer;
    display: block;
    width: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='2048' height='2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='402' width='582' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath fill='%23158AA6' id='svg_1' d='m1799,349l242,241l-1017,1017l-1017,-1017l242,-241l775,775l775,-775z'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
}

.main-menu li:last-child::after {
    display: none;
}


/*  Search Section  */
.site-search {
    display: block;
    width: 100px;
    height: 28px;
    position: relative;
    margin-left: 24px;
}

.site-search form.woocommerce-product-search {
    position: relative;
    width: 100%;
    max-width: 333px;
    margin: 0 auto;
}

.site-search input.search-field {
    float: left;
    width: 100px;
    height: 28px;
    border: 0;
    border-radius: 0;
    padding: 0 0 0 25px;
    margin: auto 0;
    outline: none;
    background-color: white;
    color: var(--primary-grey);
}

.site-search input::placeholder {
    color: var(--primary-grey);
}

.site-search button {
    position: absolute;  
    left: 0;
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin: 0;
    padding: 4px;
    border: 0;
    background: transparent;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.site-search button svg {
    width: 22px;
    height: 22px;
    transform: rotate(-90deg);
}

.call {
    margin-left: auto;
}

.call p {
    margin: -8px 0 0 0;
    color: var(--primary-color);
    font-weight: 400;
    line-height: 1.2;
    
    @media screen and (max-width: 1024px) {
        text-align: right;
    }
}

.call p a {
    color: #382646;
    font-size: 28px;
}

@media screen and (max-width: 768px) {
    
    .underline {
        flex-direction: column;
        align-items: flex-end;
    }
    
    .underline::after {
        display: none;
    }
    
    .main-menu {
        position: relative;
    }
    
    .main-menu li:last-child {
        margin-right: 0;
    }
    
    .main-menu::after {
        position: absolute;
        content: "";
        bottom: 2px;
        top: auto;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #DBD8DD;
        z-index: -1;
    }
    
    .site-search {
        margin-top: 40px;
        margin-bottom: 40px;
        align-self: flex-end;
    }
    
    .call {
        align-self: flex-end;
    }
}

@media screen and (max-width: 600px) {
    .header-wrapper {
        flex-direction: column;
    }
    
    .logo {
        margin-bottom: 40px;
    }
    
    .underline {
        width: 90%;
        align-items: center;
    }
    
    .site-search,
    .call {
        align-self: center;
    }
    
    .call {
        margin-right: auto;
    }
    
    .call p {
        text-align: center;
    }
}

/* Sections */
main {
    position: relative;
}

.billboard {
    background-color: var(--secondary-color);
}

.billboard img {
    display: block;
    margin: 0;
}

.billboard .row {
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 76px 0;
    
    @media screen and (max-width: 1024px) {
        width: 90%;
    }
}

.billboard .row .col-6 {
    position: relative;
}

.billboard-left {
    max-width: 462px;
}

.billboard .billboard-left h1 {
    font-size: 50px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: -0.89px;
    color: var(--bg-color);
}

.billboard .billboard-left p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: var(--secondary-grey);
    max-width: 418px;
    opacity: 0.65;
}

.billboard .billboard-left a {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary-color);
    display: flex;
}

.billboard .billboard-left a::after {
    content: '';
    position: relative;
    padding: 0;
    margin: 2px 0 0 0;
    background-color: transparent;
    cursor: pointer;
    display: block;
    width: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='2048' height='2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='402' width='582' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath fill='%23158AA6' id='svg_1' d='m1799,349l242,241l-1017,1017l-1017,-1017l242,-241l775,775l775,-775z'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
    transform: rotate(-90deg);
}

.billboard-right {
    position: absolute;
    left: 0;
    background-color: var(--bg-color);
    height: 100%;
    padding: 130px 90px;
    margin-top: -130px;
    width: 356px;
    box-shadow: 0px 3px 60px #00000029;
    
    @media screen and (max-width: 1024px) {
        padding: 120px 70px;
        margin-top: -120px;
        width: 290px;
    }
}

.box-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.box-search h2 {
    font-size: 32px;
    font-weight: 300;
    color: var(--primary-color);
}

.box-search form {
    display: flex;
    flex-direction: column;
}

.box-search input[type=search] {
    border: 1px solid #E7E7E7;
    background-color: transparent;
    height: 65px;
    line-height: 65px;
    margin-bottom: 10px;
}

.box-search input::placeholder {
    color: #767676;
    font-size: 18px;
    font-weight: 400;
}

.box-search button {
    color: var(--bg-color);
    background-color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
    height: 65px;
    line-height: 65px;
    border-color: var(--primary-color);
    border-radius: 2px;
    padding: 0;
}

.box-search a {
    font-size: 16px;
    font-weight: 300;
    color: #321F41;
    margin-bottom: 40px;
    display: flex;
}

.box-search a::after {
    content: '';
    position: relative;
    padding: 0;
    margin: 2px 0 0 0;
    background-color: transparent;
    cursor: pointer;
    display: block;
    width: 22px;
    background-image: url("data:image/svg+xml,%3Csvg width='2048' height='2048' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect fill='none' id='canvas_background' height='402' width='582' y='-1' x='-1'/%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath fill='%23158AA6' id='svg_1' d='m1799,349l242,241l-1017,1017l-1017,-1017l242,-241l775,775l775,-775z'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
    transform: rotate(-90deg);
}

.diamonds span {
    position: absolute;
    bottom: auto;
    right: 0;
    left: auto;
    margin-right: -44px;
    width: 88px;
    height: 88px;
    transform: rotate(-45deg);
}

.diamonds span:first-child {
    top: 80px;
    background-color: var(--primary-color);
    mix-blend-mode: multiply;
}

.diamonds span:nth-child(2) {
    top: 18px;
    background-color: var(--primary-color);
    opacity: 0.33;
    //background-color: rgba(21, 138, 166, 0.33);
}

.diamonds span:nth-child(3) {
    top: 142px;
    background-color: var(--bg-color);
}

@media screen and (max-width: 768px) {
    .billboard .row .col-6 {
        width: 100%;
    }
    
    .billboard-left {
        margin: 0 auto;
    }
    
    .billboard-right {
        position: relative;
        height: auto;
        padding: 80px 80px;
        margin: 60px auto;
        width: 60%;
    }
}

@media screen and (max-width: 600px) {
    .billboard-left {
        width: 80%;
    }
    
    .billboard-right {
        padding: 60px 60px;
        width: 50%;
    }
    
    .diamonds span {
        margin-right: -33px;
        width: 66px;
        height: 66px;
    }

    .diamonds span:first-child {
        top: 54px;
    }

    .diamonds span:nth-child(2) {
        top: 12px;
    }

    .diamonds span:nth-child(3) {
        top: 104px;
    }
}


.suppliers {
    margin: 60px auto;
}

.suppliers h2 {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.35px;
    color: var(--primary-color);
}



/*--------------------*/

@import "plugins.less";
@import "pages.less";
@import "shop.less";
@import "blog.less";